{% extends "layout.twig" %}


{% block title %}
	Estamos na Index
{% endblock %}

{% block aplicacao %}
    <h1> Essa eh a Index</h1>
{% endblock %}

{% block conteudo %}
    <h1>Bem vindo ao Twig!!!</h1>
{% endblock %}