<html>
    <head>
        <title>{% block title %}Nosso template{% endblock %}</title>    
    </head>
    <body>
        {% block aplicacao %}
            <h1> Essa eh a nossa aplicacao</h1>
        {% endblock %}
            {% block conteudo %}
                
            {% endblock %}
        <footer>Todos os direitos reservados</footer>
    </body>
</html>